.preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

@media screen and (min-width:700px){
	#francemap {
        float:left;
        width:50%;
        height: 350px;
	}
    #container {
        float:right;
        width:50%;
    }
}

@media screen and (max-width:699px){
	#francemap {
        width:100%;
        height: 350px;
	}
    #container {
        width:100%;
    }
}

.cadreLegende {
    width: 40px;
    background-color: #ff0000;
    border: 2px solid black;
}

.video {
    width: 560px;
    height: 315px;
}

#carte2 {
    width:50%;
    height: 500px;
    float:left;
}

#courbeDpt {
    width: 50%;
    float: right;
    height: 500px;
}

#courbeDpt {
    background: url(../img/Basket.png) no-repeat center;
    
}