.preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

#francemap {
    float:left;
    width:50%;
    height: 350px;
}
#container {
    float:right;
    width:50%;
     height: 350px;
}

/*@media screen and (max-width:699px){
	#francemap {
        width:100%;
        height: 350px;
	}
    #container {
        width:100%;
    }
}*/

/*.cadreLegende {
    border: 1px solid black;
}*/

.coupeCarte {
    width: 30px;
}

.cadreLegende1 {
    width: 40px;    
}

.cadreLegende2 {
    width: 35px;    
}

.cadreLegende3 {
    width: 25px;    
}

.cadreLegende4 {
    width: 20px;    
}


#legende {
    color: #0F6377;  
    width: 50%;
    float: left;
    font-size: 80%;
}

.video {
    width: 560px;
    height: 315px;
}

#carte2 {
    width:50%;
    height: 400px;
    float:right;
}

#courbeDpt {
    width: 50%;
    float: left;
    height: 500px;
}

#courbeDpt {
    background: url(../img/background_highchart/vide.png) no-repeat center;
}

.celluleSport {    
    font-weight: bold;
    color: #D33C3D;
    text-align: center;
    height:100%;
    margin:0;
    padding:0;
}

.celluleSport h1, .celluleSport h2, .celluleSport h3, .celluleSport h4, .celluleSport h5 
{
    border: 1px solid #D33C3D;
}

.sportRegions {
    border: 1px solid #D33C3D;
    color: #FFF;
    background: #D33C3D;
    text-align: center;
    height:100%;
    margin:0;
    padding:0;
}

.sportRegionsTotal {
    border: 1px solid #D33C3D;
    color: #FFF;
    background: #D33C3D;
    text-align: center;
    margin-left:100px; margin-right:75px; margin-top:10px;
}

#compteur {
    /*border: 1px solid #D33C3D; */
    text-align: center;
}

#texteCompteur {
    color: #D33C3D;
    font-weight: bold;     
}

#element_to_pop_up { 
    display:none; 
    color: #0F6377;
    text-align: center;
    margin:100px;
}

.colonne {
  display:table-cell;
  width:400px;
  padding:25px;
  text-align: center;
}
.colonne + .colonne {
  border-left:1px solid #D33C3D;
}

.titreArticle {
    color: #D33C3D;
    /*font-weight:bold;    */
    text-align:center;
    font-size: 125%;
    margin-bottom: 20px;
}

#compteur {
    width: 50%;
    float: right;
}

#nomDepartementCadre {
    padding: 10px;
    text-align:center;
    width:50%;
    color: #D33C3D;
    font-weight:bold;    
}

#nomDepartementTexte {
    border: 2px solid #D33C3D;
    padding: 5px;
}

#choixSportDpt {
    background-color: #D33C3D;
    color: #ffffff;
}

#totalDpt {
    float: right;
    width: 50%;
    text-align:center;
    color: #D33C3D;
    font-weight:bold;
}

.credits {
    text-align: center;
    font-size: 75%;
    bottom:0;
    left:0;
}

.boutonAnnee {
    margin-right: 20px;
    cursor: pointer;
}

#imageHeader {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

p {
    /*text-align:justify;*/
    text-align:center;
}

.chapeau {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:80%;
    padding-bottom:10px;
}

.colonne {
    text-align: justify;
}

.colonne img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}