.preloaded-images {
   position: absolute;
   overflow: hidden;
   left: -9999px; 
   top: -9999px;
   height: 1px;
   width: 1px;
}

@media screen and (min-width:500px){
	#francemap {
        float:left;
        width:50%;
	}
    #container {
        float:right;
        width:50%;
    }
}

@media screen and (max-width:500px){
	#francemap {
        width:100%;
	}
    #container {
        width:100%;
    }
}