@font-face 
{
    font-family: 'Abel';
    src: url('../fonts/Abel-Regular.ttf') format('truetype');
}
@font-face 
{
    font-family: 'DinPro-Bold';
    src: url('../fonts/DINPro-Bold.otf') format('truetype');
}
@font-face 
{
    font-family: 'DinPro-Medium';
    src: url('../fonts/DINPro-Medium.otf') format('truetype');
}
#Diapo
{
    width: 920px;
    height: 650px;
    border-style:solid;
    border-width:1px;
}
#titre
{
    /* Placement du bloc */
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    
    /* Mise en forme du texte */
    width: 700px;
    background-color: #0F6377;
    font-family: 'Abel', Arial;
    text-transform: uppercase;
    font-size: 26px;
    color: #EAE9E5;
    text-align: center;
    line-height: 40px;
}
#nomDepartement
{
    /* Placement du bloc */
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    /* Mise en forme du texte */
    font-family: 'Abel', Arial;
    text-transform: uppercase;
    font-size: 26px;
    color: #0F6377;
    text-align: center;
    line-height: 40px;
}
#canvas_jo {
    margin-top: 25px;
    width: 920px;
    height: 210px;
}
#Global
{
    margin-top: 25px;
    width: 920px;
    height: 260px;
}
#Global #flamme1
{
    float: left;
    width: 185px;
    text-align: center;
}
#Global #centre
{
    float: left;
    width: 550px;
}
#centre #flecheG
{
    float: left;
    width: 30px;
    margin-top: 72px;
    position: relative;
    z-index: 5;
    background: none;
    border: none;
}
#centre #info {
    float: left;
    width: 490px;
}
#info #zonePicto
{
    float: left;
    width: 190px;    
}
#imgPicto
{
    margin-top: 0px;
}
#info #texte
{
    float: left;
    width: 300px;
    color: #0F6377;
    font-size: 15px;
}
#centre #flecheD
{
    float: left;
    width: 30px;
    margin-top: 72px;
    position: relative;
    z-index: 5;
    background: none;
    border: none;
}
#Global #flamme2
{
    float: left;
    width: 185px;
    text-align: center;
}
.variable
{
    font-family: 'DinPro-Bold', Arial;
    text-transform: uppercase;
}
.valeur
{
    font-family: 'DinPro-Medium', Arial;
}
.flammes
{
    margin-top: 50px;
}